## Ignore Visual Studio temporary files, build results, and user settings

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leasePublic/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bsearch/
gprof/
[Bb]in/
[Oo]bj/
[Ex]ecutable/
[Ex]e/

# Visual Studio 2015/2017/2019/2022 cache directory
.vs/

# Visual Studio Code code workspace
.vscode/